// Small devices(landscape phones, 576px and up)
@media screen and (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {}

/// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) {}

/// Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px) {}

@mixin defaultFont($style, $weight, $size, $lineHeight) {
	font-family: 'Montserrat', sans-serif !important;
	font-style: $style !important;
	font-weight: $weight !important;
	font-size: $size !important;
	line-height: $lineHeight !important;
}

@mixin textShrink() {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}